.slider-container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.slider-message{
    color: aliceblue;
    background-color: rgb(61, 47, 191);
    border-radius: 15px;
    width: 600px;
    height: 200px;
    text-align: center;
}
img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}